html, body {
  font-family: 'Work Sans', sans-serif !important;
  background: #F5F5F5;
}

u {
  text-decoration: none;
  color: #05853a;
  font-weight: bold;
}

u:hover {
  text-decoration:underline;
  cursor:pointer;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin: 0;
}

.green-text {
  color: #05853a;
}

.green-link {
  color: #05853a;
  font-weight: bold;
}

.green-link:hover {
  color: #05853a;
}

.h1-big {
  font-size: 4rem !important;
}

h1 {
  font-size: 3rem !important;
}

.p-large {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.social-icon {
  height: 2.5rem;
  margin: 0 0.5rem;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: ponter;
}

.social-group {
  margin-top: 1rem;
}

.clear {
  clear:both;
}

.center {
  text-align: center;
}

.headshot {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  border: 5px solid hsl(144.8, 92.8%, 40%);
  padding: 5px;
  background: hsl(144.8, 92.8%, 20%);
  box-shadow:
      0 0 0 10px hsl(144.8, 92.8%, 80%),
      0 0 0 15px hsl(144.8, 92.8%, 90%),
      0 0 0 20px hsl(144.8, 92.8%, 95%);
}

.c-card {
  box-shadow: 0 8px 25px rgba(199, 199, 199, 0.7);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 2rem 3rem;
  margin: 2rem 0 1rem 0;
}

.c-card-no-padding {
  box-shadow: 0 8px 25px rgba(199, 199, 199, 0.7);
  border-radius: 6px;
  background-color: #ffffff;
  max-width: 80%;
  margin: 1rem auto;
}

.c-card-img {
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

.thoughts-text p {
  font-size: 1.2rem;
}

.h1-image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.green-title {
  color: green;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem !important;
  }
  .h1-big {
    font-size: 3rem !important;
  }
}
